.map {
  &__menu {
    list-style: none;
    padding-left: 0;
    & > li {
      display: inline-block;
      margin-right: 12px;
      button {
        outline: none;
      }

      .active {
        color: $black_4;
        background: $silver_2;
      }
    }
  }
  .pietura {
    font-family: $Roboto_C;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    span {
      margin-right: 17px;
    }
    button {
      margin-right: 12px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &__information {
      width: 100%;
    }
    .building {
      font-family: $Oswald;
      color: $FE;
      select {
        width: 100%;
        background: #434343;
        padding: 11px 0;
        text-align: center;
        font-weight: 500;
        color: #fff;
        border-color: #434343;
        text-align-last: center;
        option {
          text-align: center;
        }
      }
      &__title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      &__list {
        padding-left: 6px;
        list-style: none;
        font-size: 16px;
        font-weight: 500;
        & > li {
          position: relative;
          line-height: 30px;
          &::before {
            content: "•";
            position: absolute;
            width: 4px;
            height: 4px;
            left: -14px;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) {
  .map {
    &__content {
      flex-wrap: wrap;
      &__pic {
        img {
          width: 104%;
        }
      }
    }
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .map {
    .pietura {
      margin-bottom: 49px;
    }
    &__content {
      flex-wrap: nowrap;
      &__pic {
        img {
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 991px) {
}
