html,
body,
.main {
}
html {
}
.body_1 {
  background: $background;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.body_2 {
  background: #333;
}
.content {
  flex: auto;
  padding-right: 78px;
  &__banner {
    background: $eventsBack;
    padding: 29px 28px 16px 26px;
    position: fixed;
    top: 0;
    right: 0;
  }
  &__social {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    font-family: "Oswald", sans-serif;
    li {
      list-style: none;
      margin-right: 38px;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
  &__wrapper {
    padding-left: 55px;
    padding-top: 52px;
    .breadcrumb {
      font-family: "Heading Pro Trial", sans-serif;
      font-size: 18px;
      font-weight: bold;
      &-item {
        a {
          color: $silver;
        }
      }
      .active {
        color: #fff;
      }
    }
  }
}
.wrapper {
  display: flex;
  height: 100%;
}

.arrow__filter {
  background: url("../../images/arrow_filter.svg") no-repeat;
  width: 100%;
}
