html,
body,
.main {
  height: 100%;
}
html {
}
body {
  background: $background;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.content {
  position: absolute;
  left: 246px;
  &__banner {
    background: $eventsBack;
    padding: 29px 28px 16px 26px;
    position: fixed;
    top: 0;
    right: 0;
  }
  &__social {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    font-family: "Oswald", sans-serif;
    li {
      list-style: none;
      margin-right: 38px;
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
.wrapper {
  display: flex;
  height: 100%;
}
