$black: #5d5d5d;
$black_2: #0f0e0e;
$border: #6d6e70;
$silverLight: #e5e6e7;
$eventsBack: #121212;
$backDate: #1c1c1c;
$orange: #cf4f1b;
$silver: #b4b4b4;
$black_3: #222;
$silver_1: #707070;
$black_4: #262626;
$silver_2: #dedede;
$FE: #fefefe;
$background: linear-gradient(rgba($black, 0.7) 0%, rgba($black_2, 0.7) 100%),
  url(../../images/back.png);

$Roboto_C: "Roboto Condensed", sans-serif;
